alias ls='ls -FAh --color'
alias du='du -h'
alias rm='rm -I'
alias shutdown='sudo shutdown -h now'
alias tar='tar -k'
alias fb='nautilus'
alias suspend='sudo pm-suspend'
alias hibernate='sudo pm-hibernate'
